:root{
	--brown-text: #8f754f;
	--darkblue-text: #385f71;
	--gray-dots: #a8a8a8;
}
/*font-family: 'Montserrat', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.cvContainer{
	background: white;
	max-width: 1080px;
	height: 1395px;
	margin: auto;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(100, 1fr);
	grid-template-rows: repeat(50, 1fr);
}

@media only screen and (max-width: 1026px) { .cvContainer{ height: 1255px; } }
@media only screen and (max-width: 972px)  { .cvContainer{ height: 1185px; } }
@media only screen and (max-width: 918px)  { .cvContainer{ height: 1115px; } }
@media only screen and (max-width: 864px)  { .cvContainer{ height: 1045px; } }
@media only screen and (max-width: 810px)  { .cvContainer{ height: 975px; } }
@media only screen and (max-width: 756px)  { .cvContainer{ height: 905px; } }
@media only screen and (max-width: 702px)  { .cvContainer{ height: 835px; } }
@media only screen and (max-width: 648px)  { .cvContainer{ height: 765px; } }
@media only screen and (max-width: 594px)  { .cvContainer{ height: 695px; } }
@media only screen and (max-width: 540px)  { .cvContainer{ height: 625px; } }
@media only screen and (max-width: 486px)  { .cvContainer{ height: 555px; } }
@media only screen and (max-width: 432px)  { .cvContainer{ height: 485px; } }
@media only screen and (max-width: 378px)  { .cvContainer{ height: 415px; } }
@media only screen and (max-width: 324px)  { .cvContainer{ height: 345px; } }
@media only screen and (max-width: 270px)  { .cvContainer{ height: 275px; } }
@media only screen and (max-width: 216px)  { .cvContainer{ height: 205px; } }


/*												***************************
												***		LEFT SIDE     	***
												****************************/
.leftSide{
	background: url(images/background.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1 / 36;
	grid-row: 1 / 51;
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(100, 1fr);
	grid-template-rows: repeat(200, 1fr);
}

.profilePic{
	background-image: url(images/profilePic.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 396px;
	grid-column: 1 / 103;
	grid-row: 1 / 105;
}

/*												***************************
												***		LEFT SIDE     	***
												****************************/
.subtitleLeft{
	color: var(--brown-text);
	font-weight: 800;
	font-size: 2.1vw;
	grid-column: 13 / 100;
}

.descLeftChat{
	color: black;
	font-weight: 500;
	font-size: 1.65vw;
	grid-column: 28 / 100;
	line-height: 3.1vw;
}

.descLeft{
	color: black;
	font-weight: 500;
	font-size: 1.65vw;
	grid-column: 17 / 100;
}

/*		***		LET'S CHAT 		  	****/

.chat{ grid-row: 70 / 75; }
.infoChat{ grid-row: 76 / 85; }
#locationIcon{ 	
	grid-column: 15 / 50; 
	grid-row: 77 / 105;
	width: 27%;
}
#phoneIcon{ 	
	grid-column: 16 / 40; 
	grid-row: 83 / 105; 
	width: 27%;
}
#emailIcon{ 	
	grid-column: 14 / 40; 
	grid-row: 89 / 105; 
	width: 45%;
}
#linkedinIcon{ 	
	grid-column: 12 / 40; 
	grid-row: 94 / 105; 
	width: 60%;
}
#gitIcon{ 		
	grid-column: 16 / 40; 
	grid-row: 101 / 105; 
	width: 39%;
}
@media only screen and (max-width: 1300px) {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 25%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 25%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 1026px) {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 972px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 25%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 25%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 918px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 864px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 810px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 756px)  {
	#locationIcon{ 	grid-column: 18 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 19 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 702px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 23%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 25%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 648px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 23%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 25%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 18 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 594px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 77 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 540px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 486px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 432px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 40; grid-row: 82 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 378px)  {
	#locationIcon{ 	grid-column: 17 / 50; grid-row: 76 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 18 / 50; grid-row: 81 / 155; width: 16%; }
	#emailIcon{ 	grid-column: 16 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 17 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 17 / 40; grid-row: 97 / 155; width: 35%; }
}
@media only screen and (max-width: 324px)  {
	#locationIcon{ 	grid-column: 16 / 50; grid-row: 75 / 155; width: 20%; }
	#phoneIcon{ 	grid-column: 16 / 50; grid-row: 80 / 155; width: 20%; }
	#emailIcon{ 	grid-column: 15 / 40; grid-row: 87 / 155; width: 39%; }
	#linkedinIcon{ 	grid-column: 15 / 40; grid-row: 92 / 155; width: 39%; }
	#gitIcon{ 		grid-column: 16 / 40; grid-row: 97 / 155; width: 33%; }
}


/*		***		SOFT SKILLS		  	****/

.softSkills{ grid-row: 111 / 125; }
.softSkillsDesc{ grid-row: 117 / 125; }

/*		***		LANGUAGES		  	****/

.languages{	grid-row: 145 / 155; }
.languagesDesc{ grid-row: 152 / 157; }

/*		***		HOBBIES		  	****/

.hobbies{ grid-row: 165 / 170;}
.hobbiesDesc{ grid-row: 172 / 180; }


/*												***************************
												***		RIGHT SIDE     	***
												****************************/
.rightSide{
	background: rgb(240,240,240);
	grid-column: 34 / 102;
	grid-row: 1 / 51;
	display: grid;
	grid-template-columns: repeat(50, 1fr);
	grid-template-rows: repeat(200, 1fr);

}

.name{
	color: var(--brown-text);
	font-weight: 700;
	font-size: 5.2vw;
	grid-column: 6 / 40;
	grid-row: 7 / 14;
}

.jobTitle{
	color: var(--darkblue-text);
	font-weight: 400;
	font-size: 1.9vw;
	grid-column: 6 / 40;
	grid-row: 22 / 25;
}

.profileDesc{
	color: black;
	font-weight: 400;
	font-size: 1.5vw;
	letter-spacing: -1px;
	grid-column: 6 / 46;
	grid-row: 27 / 50;
}

@media only screen and (max-width: 1026px) {
	.profileDesc{ font-size: 1.7vw; letter-spacing: 0px; }
	.jobTitle{ font-size: 2.1vw; }
}
@media only screen and (max-width: 594px)  { 
	.profileDesc{ font-size: 1.7vw; letter-spacing: 0px; }
	.jobTitle{ font-size: 2.3vw; }
}
@media only screen and (max-width: 324px)  { 
	.profileDesc{ font-size: 1.6vw; letter-spacing: 0px; }
	.jobTitle{ font-size: 2.1vw;}
}
/*			***************************************************
			***		MAIN CLASES EXPERIENCE AND EDUCATION  	***
			****************************************************/
.subtitle{
	color: var(--brown-text);
	font-weight: 700;
	font-size: 1.9vw;
	grid-column: 6 / 46;
}

.position{
	color: var(--darkblue-text);
	font-weight: 700;
	font-size: 1.5vw;
	grid-column: 6 / 46;
}

.companyTime{
	color: var(--brown-text);
	font-weight: 600;
	font-size: 1.2vw;
	letter-spacing: 1.7px;
	grid-column: 6 / 46;
}

.expDesc{
	color: black;
	font-weight: 500;
	font-size: 1.2vw;
	letter-spacing: 0px;
	line-height: 1.2vw;
	grid-column: 6 / 46;
}


@media only screen and (max-width: 1026px) {
	.expDesc{ font-size: 1.3vw; line-height: 1.65vw; }
	.companyTime{ letter-spacing: 1.2px; }
}
@media only screen and (max-width: 594px)  { 
	.expDesc{ font-size: 1.45vw; line-height: 1.65vw; }
	.companyTime{ letter-spacing: 0.9px; }
}
@media only screen and (max-width: 324px)  { 
	.expDesc{ font-size: 1.5vw; line-height: 1.7vw; }
	.companyTime{ letter-spacing: 0.7px; }
}


/*			*******************************
			***		WEB EXPERIENCE  	***
			*******************************/

.webExp{ 		grid-row: 42 / 50; }
.javaDevExp{ 	grid-row: 47 / 50; }
.genExp{ 		grid-row: 51 / 55; }
.genProyectExp{ grid-row: 54 / 60; }

/*			***************************************
			***		POFESSIONAL EXPERIENCE  	***
			***************************************/

.profExp{		grid-row: 68 / 70; }
.helpdeskExp{	grid-row: 72 / 75; }
.nttExp{ 		grid-row: 76 / 78; }
.nttDesc{ 		grid-row: 79 / 81; grid-column: 6 / 47; }
.csrExp{ 		grid-row: 99 / 101; }
.beliveoExp{	grid-row: 103 / 105; }
.beliveoDesc{ 	grid-row: 106 / 115; }

/*			***********************
			***		EDUCATION  	***
			************************/

.education{		grid-row: 118 / 121; }
.javaDevEdu{ 	grid-row: 123 / 125; }
.genEdu{ 		grid-row: 127 / 129; }
.genDescEdu{ 	grid-row: 130 / 134; grid-column: 6 / 45; }
.biomEdu{ 		grid-row: 139 / 142; }
.cuceiEdu{		grid-row: 143 / 145; }
.biomDescEdu{ 	grid-row: 146 / 156; grid-column: 6 / 44; }

/*			***************************
			***		TECHNOLOGIES  	***
			***************************/

.technologies{
	grid-column: 6 / 44;
	line-height: 2.5vw;
}
.technicalSkills{ grid-row: 159/ 180; }
.proLan{ grid-row: 165/ 180; }
.ides{ grid-row: 187/ 195; }

/*			***************************
			***		RATING PANNEL  	***
			***************************/

.RatingPannel{
	grid-column: 20 / 28;
	display: flex;
	justify-content: space-between;
}

.dot{
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: relative;
}

.blackDot{ 		background: black; }
.greyDot{ 		background: var(--gray-dots); }
#firstPannel{ 	grid-row: 166 / 180; }
#secondPannel{	grid-row: 171 / 180; }
#thirdPannel{ 	grid-row: 176 / 180; }
#fourthPannel{ 	grid-row: 181 / 185; }
#fifthPannel{ 	grid-row: 188 / 195; }
#sixthPannel{ 	grid-row: 193 / 195; }


@media only screen and (max-width: 864px)  {
	.dot{
		width: 13px;
		height: 13px;
	}
	.technologies{
		font-size: 1.7vw;
		line-height: 2.5vw;
	}

}
@media only screen and (max-width: 810px)  {
	.dot{
		width: 12px;
		height: 12px;
	}
	.technologies{
		font-size: 1.9vw;
		line-height: 2.7vw;
	}

}
@media only screen and (max-width: 756px)  {
	.dot{
		width: 11.5px;
		height: 11.5px;
	}
	.technologies{
		font-size: 1.7vw;
		line-height: 2.5vw;
	}

}
@media only screen and (max-width: 702px)  {
	.dot{
		width: 11px;
		height: 11px;
	}
	.technologies{
		font-size: 1.7vw;
		line-height: 2.5vw;
	}

}
@media only screen and (max-width: 648px)  {
	.dot{
		width: 10.5px;
		height: 10.5px;
	}
	.technologies{
		font-size: 1.8vw;
		line-height: 2.8vw;
	}

}
@media only screen and (max-width: 594px)  {
	.dot{
		width: 9px;
		height: 9px;
	}
	.technologies{
		font-size: 1.75vw;
		line-height: 2.9vw;
	}

}
@media only screen and (max-width: 540px)  {
	.dot{
		width: 8.5px;
		height: 8.5px;
	}
	.technologies{
		font-size: 1.75vw;
		line-height: 2.7vw;
	}

}
@media only screen and (max-width: 486px)  {
	.dot{
		width: 8px;
		height: 8px;
	}
	.technologies{
		font-size: 1.8vw;
		line-height: 2.8vw;
	}

}
@media only screen and (max-width: 432px)  {
	.dot{
		width: 7px;
		height: 7px;
	}
	.technologies{
		font-size: 1.8vw;
		line-height: 3vw;
	}

}
@media only screen and (max-width: 378px)  {
	.dot{
		width: 6px;
		height: 6px;
	}
	.technologies{
		font-size: 1.8vw;
		line-height: 2.8vw;
	}

}
@media only screen and (max-width: 324px)  {
	.dot{
		width: 5px;
		height: 5px;
	}
	.technologies{
		line-height: 2.8vw;
		font-size: 1.7vw;
	}
}
